<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'S_Logo.jpeg' %>
    <title>Scriptmanage</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag   'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag   'salesforce-lightning-design-system', media: 'all'  %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'client' %>
  </head>

  <body>
    <div id='app-content'>
      <%= yield %>
    </div>
  </body>
</html>
